.button {
  font-size: 14px;
  display: block;
  padding: 11px 16px;
  line-height: 1.286;
  text-align: center;
  text-transform: uppercase;
  background-color: $theme-color;
  color: #ffffff;
  transition: color $anim, background-color $anim;

  @media screen and (min-width: $tablet-media) {
    display: inline-block;
    padding: 16px 28px;
    font-size: 20px;
    line-height: 1;
  }

  &:active {
    color: rgba(#000000, 0.3);
  }

  &--default {
    font-size: 16px;
    color: $black-text;
    background-color: $bg-color;

    &:active {
      background-color: #ebebeb;
      color: rgba($black-text, 0.3);
    }
  }
}
