.categories {
  padding-top: 30px;
  padding-bottom: 23px;
}

.categories__wrapper {
  @include padding-mob();
}

.categories__title {
  position: relative;
  font-size: 24px;
  line-height: 1.542;
  padding-left: 70px;
  margin-bottom: 25px;
  color: $black;

  @media screen and (min-width: $tablet-media) {
    padding-left: 0;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.028;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: $theme-color;
    border-radius: 50%;

    @media screen and (min-width: $tablet-media) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: -4px;
    margin-left: 0;
    margin-bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media screen and (min-width: $tablet-media) {
      display: none;
    }
  }
}

.categories__item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $bg-color;

  @media screen and (min-width: $tablet-media) {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 295px;

    &::before {
      content: "";
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 60px;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      right: 79px;
      top: -34px;
      left: auto;
      bottom: 0;
      margin: auto;
      width: 140px;
      height: 194px;
      background-image: url(../img/icon-cat-slim.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--losing-weight .categories__title {
    &::after {
      width: 35px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--gain-weight {
    &::after {
      right: 31px;
      width: 268px;
      height: 113px;
      background-image: url(../img/icon-cat-pro.svg);
    }
    .categories__title {
      &::after {
        top: 13px;
        left: -10px;
        width: 67px;
        height: 28px;
        background-image: url("../img/icon-cat-pro.svg");
      }
    }
  }
}

.categories__description {
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid $line-border;
}

.categories__to-category {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $black;
  transition: color $anim, background-color $anim;

  &:active {
    color: rgba($black, 0.3);
  }
}
