.copyright {
  display: block;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet-media) {
    justify-content: center;
  }
}

.copyright__logo {
  margin-left: 23px;
}
