.example {
  padding-top: 30px;
  padding-bottom: 23px;
  background-color: $bg-color;
}

.example__wrapper {
  @include padding-mob();

  @media screen and (min-width: $desctop-media) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $desctop-media;
    margin: 0 auto;
  }
}

.example__content {
  @media screen and (min-width: $desctop-media) {
    width: 50%;
  }
}

.example__block-slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $desctop-media) {
    width: 50%;
  }
}

.example__list-wrap {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    justify-content: space-between;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet-media) {
    margin-left: 0;
  }
}

.example__list-slide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example__title {
  margin-bottom: 22px;
}

.example__description {
  margin-bottom: 25px;
}

.example__list {
  margin-bottom: 20px;
}

.example__term {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1;
  color: $black;
  text-transform: uppercase;
}

.example__determination {
  font-size: 12px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.example__expenses {
  font-size: 14px;
  line-height: 1.428;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.example__image {
  width: 280px;
  height: 210px;
}
