.example {

  padding-bottom: 35px;
  background: $bg-color;
  overflow: hidden;

  @media screen and (min-width: $tablet-media) {
    background: linear-gradient(to top, $bg-color 50%, #ffffff 50%);
  }

  @media screen and (min-width: $desktop-media) {
    background: linear-gradient(to top, #f2f2f2 67%, #ffffff 33%);
    padding-bottom: 0;
  }
}

.example__wrapper {
  @media screen and (min-width: $desktop-media) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $desktop-media;
    margin: 0 auto;

    @include padding-mob();
  }
}

.example__content {
  padding-top: 16px;
  z-index: 1;

  @include padding-mob();

  @media screen and (min-width: $desktop-media) {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 53px;
    margin-bottom: 76px;
    padding-left: 0;
    padding-right: 134px;
  }
}

.example__block-slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $desktop-media) {
    width: 53%;
    position: relative;
    flex-direction: column-reverse;
    justify-content: start;
  }
}

.example__list-wrap {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop-media) {
    justify-content: start;
    flex-direction: column;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media screen and (min-width: $tablet-media) {
    margin-left: 0;
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 59px;
    width: 366px;
  }
}

.example__list-slide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-media) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 56%;
      bottom: 0;
      width: 100vw;
      background-image: linear-gradient(to bottom, #ffffff, #ffffff 169px, #eaeaea 169px, #eaeaea);
    }
  }

  @media screen and (min-width: $desktop-media) {
    &::after {
      background-image: linear-gradient(to bottom, #ffffff, #ffffff 190px, #eaeaea 190px, #eaeaea);
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 44%;
      bottom: 0;
      width: 100vw;
      background-image: linear-gradient(to bottom, #ffffff, #ffffff 190px, #f2f2f2 190px, #f2f2f2);
    }
  }
}


.example__title {
  margin-bottom: 23px;

  @media screen and (min-width: $tablet-media) {
    margin-bottom: 70px;
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin-bottom: 25px;
  padding-right: 2px;

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 69px;
    padding-right: 0;
  }
}

.example__item {
  width: 44%;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  padding: 13px 17px 0 17px;
  text-align: center;

  &:last-child {
    padding: 13px 7px 0 7px;
  }

  @media screen and (min-width: $tablet-media) {
    width: 41%;
    padding: 13px 30px 0 30px;
  }

  @media screen and (min-width: $desktop-media) {
    width: 162px;
    padding: 13px 10px 0 10px;
  }
}

.example__term {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1;
  color: $black;
  text-transform: uppercase;

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 1px;
    font-size: 30px;
    line-height: 1.234;
  }
}

.example__determination {
  font-size: 12px;
  line-height: 1;
  font-family: $arial;
  font-weight: 400;
  margin-bottom: -15px;
  background: #f2f2f2;
  padding: 0 10px;

  @media screen and (min-width: $tablet-media) {
    background: #ffffff;
  }

  @media screen and (min-width: $desktop-media) {
    display: inline-block;
    vertical-align: top;
    transform: translateY(9px);
    margin-bottom: -5px;
    background: #f2f2f2;
    padding: 0 6px;
    font-size: 14px;
  }
}

.example__expenses {
  font-size: 14px;
  line-height: 1.428;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  margin-bottom: 35px;

  @media screen and (min-width: $tablet-media) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-media) {
    font-size: 20px;
    line-height: 1;
    text-align: left;
  }
}

.example__text-left {
  @media screen and (min-width: $desktop-media) {
    padding-right: 60px;
  }
}
