.form-program__fieldset {
  margin-bottom: 20px;

  @include padding-mob();

  padding-top: 25px;
  padding-bottom: 25px;

  &--radio {
    border-top: 1px solid $line-separator;
    border-bottom: 1px solid $line-separator;
  }

  @media screen and (min-width: $tablet-media) {
    margin-bottom: 70px;
    padding-right: 70px;

    &--radio {
      margin-left: 40px;
      border-left: 1px solid $line-separator;
      flex-grow: 1;
    }

    &--two-col {
      width: 100%;
    }
  }

  @media screen and (min-width: $desktop-media) {

    margin: initial;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
    padding-bottom: 46px;

    &--radio {
      align-self: center;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: initial;
      border-right: 1px solid $line-separator;
    }

    &--two-col {
      width: 50%;
      flex-basis: 570px;
      flex-shrink: 1;
      flex-grow: 0;
    }

    &--name {
      padding: 0;
    }
  }
}

.form-program__legend {
  font-size: 24px;
  line-height: 1;
  color: $black;

  @media screen and (min-width: $tablet-media) {
    margin-bottom: 40px;
    font-size: 36px;
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 11px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 3px;
      background: #68b738;
      border: solid #ffffff;
      border-width: 0 41px 0;
      margin-top: 20px;
      margin-left: -100%;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 3px;
      background: #68b738;
      border: solid #ffffff;
      border-width: 0 41px 0;
      margin-top: 20px;
    }

    &--checkbox {
      margin-bottom: 0;
    }
  }
}

.form-program__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    position: relative;
    padding-left: 46px;
  }

  &--checkbox {
    position: relative;
  }

  @media screen and (min-width: $tablet-media) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: auto;
    }
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 22px;
    padding-left: 0;

    &--radio {
      padding-left: 86px;
    }

    &--email {
      position: relative;
      width: 50%;
      padding-left: 40px;
      padding-right: 40px;

      &::before {
        content: "";
        position: absolute;
        right: 61px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 17px;
        height: 13px;
        display: block;
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &--tel {
      position: relative;
      padding-left: 40px;
      padding-right: 40px;
      width: 50%;

      &::before {
        content: "";
        position: absolute;
        right: 61px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        display: block;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &--area {
      padding-bottom: 22px;
    }
  }
}

.form-program__input {
  display: flex;
  flex-grow: 1;
  padding: 14px 8px;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 1px solid $line-form;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid $black-text;
  }

  &:focus {
    outline: 2px solid $black-text;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media screen and (min-width: $desktop-media) {
    padding: 10px 17px;
    font-size: 20px;
    line-height: 1;

    &--email {
      padding-left: 18px;
    }

    &--textarea {
      padding-top: 14px;
      min-height: 172px;
    }
  }
}

.form-program__label {
  display: flex;
  padding-right: 19px;
  font-size: 16px;
  line-height: 1.875;
  text-transform: uppercase;
  color: $label-color;

  @media screen and (min-width: $desktop-media) {
    font-size: 20px;
    line-height: 1;

    &--email {
      padding-right: 22px;
    }

    &--tel {
      padding-right: 15px;
    }
  }
}

.form-program__btn {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-media) {
    flex-grow: 1;
  }

  @media screen and (min-width: $desktop-media) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-program__btn-send {
  width: 100%;

  @media screen and (min-width: $desktop-media) {
    padding: 16px 0;
  }
}

.form-program__small-text {
  display: block;
  margin: auto;

  @include padding-mob();
  font-size: 14px;
  line-height: 1.286;
  font-family: $arial;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: $tablet-media) {
    flex-grow: 1;
  }
}

.form-program__checkbox-wrap {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop-media) {
    justify-content: start;
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: 5px;
  }
}

.form-program__bottom {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-program__fieldset-wrap {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    flex-wrap: wrap;

    &--contact {
      flex-direction: column;
    }
  }

  @media screen and (min-width: $desktop-media) {
    justify-content: space-between;
    margin-bottom: 70px;

    &--contact {
      flex-direction: row;
      margin-bottom: 0;
      margin-right: -40px;
      margin-left: -40px;
    }
  }
}
