.logo {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;

  &--header {
    .logo__img {
      display: block;
      margin-top: auto;
      margin-bottom: auto;

      &--text {
        width: 101px;
        height: 18px;
        margin: auto;
      }

      @media screen and (min-width: $tablet-media) {
        margin: auto 0;
        padding-left: 0;
        padding-right: 0;

        &--icon {
          width: 202px;
          height: 60px;
        }

        &--text {
          display: none;
        }

      }

      @media screen and (min-width: $desktop-media) {
        &--icon {
          width: 202px;
          height: 59px;
        }
      }
    }
  }

  &--footer {
    .logo__img--text {
      margin: auto;
    }
  }
}

.logo__img {
  &--icon {
    width: 33px;
    height: 38px;
    margin-right: auto;
  }
}

.logo__image {
  @media screen and (min-width: $tablet-media) {
    width: 202px;
    height: 59px;
  }
}
