.page-header {
  min-height: 65px;
  background-color: #ffffff;
  font-size: 20px;
}

.page-header__wrapper {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  @include padding-mob();

  @media screen and (min-width: $tablet-media) {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: flex;
  flex: 0 1 auto;
  height: 65px;
  padding-right: 24px;


  img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (min-width: $tablet-media) {
      margin: auto 0;
    }
  }
}

.page-header__nav {
  @media screen and (min-width: $tablet-media) {
    position: relative;
    flex: 1 1 auto;
  }

}
