.page-header {
  min-height: 65px;
  font-size: 20px;

  @media screen and (min-width: $desktop-media) {
    min-height: 110px;

    &--main {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
      width: 100%;
    }
  }
}

.page-header__wrapper {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;

  @media screen and (min-width: $tablet-media) {
    position: relative;
    padding-top: 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    border-bottom: 0;

    @include padding-mob();
  }

  @media screen and (min-width: $desktop-media) {
    max-width: $desktop-media;
    width: 100%;
    margin: 0 auto;
    padding-top: 52px;
  }
}

.page-header__logo {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  height: 65px;

  @include padding-mob();

  padding-right: 50px;

  @media screen and (min-width: $tablet-media) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__nav {
  @media screen and (min-width: $tablet-media) {
    position: relative;
    display: flex;
  }
}
