.page-header {
  min-height: 65px;
  font-size: 20px;

  @media screen and (min-width: $desctop-media) {
    &--main {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
      width: 100%;
    }
  }
}

.page-header__wrapper {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;

  @media screen and (min-width: $tablet-media) {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0;

    @include padding-mob();
  }
}

.page-header__logo {
  display: flex;
  flex: 0 1 auto;
  height: 65px;
  padding-right: 24px;

  @include padding-mob();

  @media screen and (min-width: $tablet-media) {
    padding-left: 0;
    padding-right: 0;
  }

  img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (min-width: $tablet-media) {
      margin: auto 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-header__nav {
  @media screen and (min-width: $tablet-media) {
    position: relative;
    flex: 1 1 auto;
  }

}
