
.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  @include padding-mob();

  &--dark {
    background-color: $bg-color;
  }

  br {
    display: none;
  }

  @media screen and (min-width: $tablet-media) {
    br {
      display: inline;
    }
  }

  @media screen and (min-width: $desktop-media) {
    width: 570px;
    position: absolute;
    top: 49%;
    left: 5%;
    transform: translateY(-50%);
    padding: 63px 75px 57px 73px;
    justify-content: initial;
    background-color: #ffffff;
    z-index: 3;
  }
}

.page-footer__bottom {
  background-color: $bg-color;
}

.page-footer__wrapper {
  @include padding-mob();

  @media screen and (min-width: $tablet-media) {
    width: 100%;
    max-width: $desktop-media;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (min-width: $desktop-media) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-footer__invite {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $black;

  @media screen and (min-width: $tablet-media) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-media) {
    width: 49%;
  }
}

.page-footer__text {
  font-size: 14px;
  line-height: 1.428;
  font-family: $arial;
  font-weight: 400;

  @media screen and (min-width: $tablet-media) {
    font-size: 16px;
    line-height: 1.25;
  }

  @media screen and (min-width: $desktop-media) {
    width: 51%;
    padding-left: 43px;
  }
}

.page-footer__logo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid $line-border;

  @media screen and (min-width: $tablet-media) {
    border-bottom: 0;
  }

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.page-footer__logo-wrap {
  background-color: $bg-color;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.page-footer__social {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.page-footer__social-list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $line-border;

  @media screen and (min-width: $tablet-media) {
    border-bottom: none;
  }

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.page-footer__copyright {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.copyright__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  @media screen and (min-width: $desktop-media) {
    padding: 0;
  }
}

.page-footer__map-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 400px;

  @media screen and (min-width: $desktop-media) {
    height: 400px;
    width: 100%;
  }
}

.page-footer__wrap-map {
  position: relative;

  @media screen and (min-width: $desktop-media) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 62px;
    height: 53px;
    margin-top: -43px;
    margin-left: -31px;
    background-image: url("../img/map-pin.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: $desktop-media) {
      left: 75.3%;
      width: 124px;
      height: 106px;
      margin-top: -52px;
      margin-left: -63px;
      z-index: 3;
    }
  }
}

.page-footer__img-map {
    display: block;
    width: 100%;
    height: 362px;
    object-fit: cover;

  @media screen and (min-width: $tablet-media) {
    height: 400px;
  }

  @media screen and (min-width: $desktop-media) {
    height: 100%;
  }
}

