.slider {
  @media screen and (min-width: $tablet-media) {
    min-height: 585px;
  }
}

.slider__list {
  position: relative;
  width: 320px;
  height: 240px;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop-media) {
    position: static;
    width: auto;
    height: auto;
  }
}

.slider__item {
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 0;
  overflow: hidden;

  &--left {
    width: 100%;

    left: 0;
    background-position: left;
    transition: all 1100ms ease-in;

    .slider__image {
      left: 0;

      @media screen and (min-width: $tablet-media) {
        margin-left: -40px;
      }
    }
  }

  &--right {
    width: 0%;
    right: 0;
    background-position: right;
    transition: all 1100ms ease-in;

    .slider__image {
      right: 0;
      bottom: 0;
      /*margin-right: -19px;*/
      margin-right: -4px;
    }
  }

  @media screen and (min-width: $desktop-media) {
    top: -59px;
    top: -134px;

    &--left {
      width: 50.3%;
      left: 37px;
      z-index: 2;
      overflow: hidden;
      /*background-image: linear-gradient(to bottom, #ffffff, #ffffff 190px, #f2f2f2 190px, #f2f2f2);*/
    }

    &--right {
      width: 49.7%;
      right: -37px;
    }
  }
}

.slider__image {
  height: 100%;
  width: auto;
  z-index: 5;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  max-height: initial;
  max-width: initial;

  @media screen and (min-width: $desktop-media) {
    width: 690px;
    max-width: 690px;
    height: auto;
    margin: 0;
  }
}

.slider__toogles {
  display: flex;
  justify-content: center;
  transition: width $anim;
  z-index: 9;

  @media screen and (min-width: $desktop-media) {
    margin-left: auto;
    justify-content: flex-start;
    padding-bottom: 75px;
  }
}

.slider__toogle {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  color: $black;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:hover {
    &::before {
      width: 100%;
      height: 2px;
      border-bottom: 1px solid rgba($black, 0.4);
    }
  }

  &:active {
    &::before {
      width: 100%;
      height: 2px;
      border-bottom: 1px dotted rgba($black, 0.23);
    }
  }

  &:focus {
    outline: none;
  }

  @media screen and (min-width: $desktop-media) {
    font-size: 20px;
    line-height: 1;
  }
}

.slider__range {
  position: relative;
  display: inline-block;
  width: 84px;
  margin-left: 18px;
  margin-right: 18px;
  word-wrap: break-word;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    left: 0;
    width: 84px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 4px;
    width: 35px;
    border-radius: 14px;
    height: 6px;
    border: none;
    box-shadow: none;
    background: $theme-color;
    transition: all 1100ms ease-in;
  }

  @media screen and (min-width: $tablet-media) {
    width: 472px;
    margin-left: initial;
    margin-right: initial;

    &::before {
      width: 425px;
      height: 6px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #dcdcdc;
    }

    &::after {
      width: 32px;
      height: 32px;
      top: -7px;
      left: 0;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      background: radial-gradient($theme-color 2px, #ffffff 4px);
    }
  }

  @media screen and (min-width: $desktop-media) {
    &::after {
      width: 34px;
      height: 34px;
      background: radial-gradient(#68b738 4px, #ffffff 4px);
    }
  }

  &::before {
    border: none;
  }
}

.slider__range-center::after {
  @media screen and (min-width: $tablet-media) {
    left: 50%;
  }

  @media screen and (min-width: $desktop-media) {
    left: 47.3%;
  }
}

.slider__toogle:focus ~ .slider__range::after {
  transform: translateX(40px);
  border-color: #0f9d58;

  @media screen and (min-width: $tablet-media) {
    transform: translateX(440px);
  }
}
