.sosial {
  display: block;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  margin: auto;

  @media screen and (min-width: $tablet-media) {
    margin-right: 28px;
  }
}

.social__link {
  display: block;

  &--vkontacte .inline-svg-icon {
    width: 22px;
    height: 12px;
  }

  &--instagram .inline-svg-icon {
    width: 16px;
    height: 16px;
  }

  &--facebook .inline-svg-icon {
    width: 10px;
    height: 19px;
  }
}
