.stock {
  @include padding-mob();
  padding-bottom: 36px;

  @media screen and (min-width: $desctop-media) {
    display: flex;
    width: 25%;
    padding-bottom: 0;
  }
}

.stock__wrapper {
  padding-top: 65px;
  padding-bottom: 48px;
  background-color: $theme-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  color: #ffffff;

  @include padding-mob();

  @media screen and (min-width: $tablet-media) {
    display: flex;
  }

  @media screen and (min-width: $desctop-media) {
    display: block;
    background-attachment: initial;
  }
}

.stock__text {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
}

.stock__icon-gift {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  width: 56px;
  height: 30px;
  color: #ffffff;
}
