.top-section {
  padding-top: 30px;
  padding-bottom: 23px;
  background: linear-gradient(#65a93c 72%, #ffffff 28%);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-media) {
    background-image: none;
  }

  @media screen and (min-width: $desktop-media) {
    display: flex;
    align-items: center;
    padding-top: 113px;
    padding-bottom: 91px;
    /*background-image: url(../img/index-background-mobile@1x.jpg), linear-gradient(to right, #ffffff 50%, #65a93c 50%);*/
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: 100% 0%;
    background-size: 47% 99%;
    background-repeat: no-repeat;
  }
}

.top-section__wrapper {
  position: relative;
  display: block;
  padding-bottom: 40px;

  @include padding-mob();

  @media screen and (min-width: $tablet-media) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop-media) {
    max-width: $desktop-media;
    margin: 0 auto;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

.top-section__left {
  @media screen and (min-width: $desktop-media) {
    width: 41%;
  }
}

.top-section__content {
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tablet-media) {
    padding-left: 90px;
  }

  @media screen and (min-width: $desktop-media) {
    padding-left: 80px;
  }
}

.top-section__title {
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;

  @media screen and (min-width: $tablet-media) {
    font-size: 60px;
    color: $black;
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 40px;
  }
}

.top-section__title-sub {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: $tablet-media) {
    font-size: 20px;
    color: $black;
  }

  @media screen and (min-width: $desktop-media) {
    margin-bottom: 53px;
  }
}

.top-section__img-wrap {
  position: relative;
  display: block;
  padding-bottom: 90%;
  margin-top: -50px;
  z-index: 0;

  @media screen and (min-width: $tablet-media) {
    order: 2;
  }

  @media screen and (min-width: $desktop-media) {
    padding-bottom: 0;
    margin-top: 0;
    width: 552px;
    height: 499px;
  }
}

.top-section__product-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;

  @media screen and (min-width: $desktop-media) {
    position: absolute;
    left: -66px;
    top: 32px;
    height: 499px;
    margin: auto;
    width: auto;
  }
}

.top-section__to-proggam {
  z-index: 2;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media screen and (min-width: $tablet-media) {
    position: relative;
    bottom: auto;
    width: auto;
    order: 1;
    margin-right: auto;
    margin-left: 90px;
  }

  @media screen and (min-width: $desktop-media) {
    margin-left: 80px;
  }
}
