html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $oswald;
  font-weight: 400;
  color: $black-text;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-size: 36px;
  line-height: 1.667;
  color: $black;

  @media screen and (min-width: $tablet-media) {
    font-size: 60px;
    line-height: 1;
  }
}

.main-description {
  font-size: 14px;
  line-height: 1.285;
  font-family: $arial;
  font-weight: 400;

  @media screen and (min-width: $tablet-media) {
    font-size: 16px;
    line-height: 1.5;
  }
}
