@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"),
    local("Oswald-Regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"),
    local("Oswald-Medium"),
    url("../fonts/oswaldmeduim.woff2") format("woff2"),
    url("../fonts/oswaldmeduim.woff") format("woff"),
    url("../fonts/oswaldmeduim.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
