@mixin padding-mob() {
  padding-left: $mob-padding;
  padding-right: $mob-padding;

  @media screen and (min-width: $tablet-media) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media screen and (min-width: $desktop-media) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}
