//fonts
$oswald: 'Oswald', arial, sans-serif;

//color
$black: #111111;
$black-text: #444444;
$white: #ffffff;
$theme-color: #68b738;
$theme-btn-active: #5eaa2f;

//media
$mob-media: 320px;

//transition
$anim: .3s;

//bg
$bg-color: #f2f2f2;
