//fonts
$oswald: "Oswald", arial, sans-serif;
$arial: arial, sans-serif;

//color
$black: #111111;
$black-text: #444444;
$theme-color: #68b738;
$theme-btn-active: #5eaa2f;

//media
$mob-media: 320px;
$tablet-media: 768px;
$desktop-media: 1300px;

$mob-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 40px;

//transition
$anim: 0.3s;

//bg
$bg-color: #f2f2f2;
$label-color: #222222;
$line-separator: #ededed;
$line-border: #d9d9d9;
$line-form: #e6e6e6;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
